:root {
  --color-light: #f5edce;
  --color-dark: #252525;
  --color-green: #91c483;
  --color-yellow: #fbb03b;
  --color-orange: #f78c45;
  --color-red: #e05b4b;
  --color-purple: #a696c8;
  --color-blue: #3c8dad;
  --fieldtrip-navy-h: 217;
  --fieldtrip-navy-s: 38%;
  --fieldtrip-navy-l: 15%;
  --fieldtrip-navy: hsl(var(--fieldtrip-navy-h) var(--fieldtrip-navy-s) var(--fieldtrip-navy-l));
  --fieldtrip-navy-darker: hsl(var(--fieldtrip-navy-h) var(--fieldtrip-navy-s) calc(var(--fieldtrip-navy-l)  - 5%));
  --fieldtrip-navy-lighter: hsl(var(--fieldtrip-navy-h) var(--fieldtrip-navy-s) calc(var(--fieldtrip-navy-l)  + 5%));
  --fieldtrip-red: #e15647;
  --fieldtrip-pink: #edad9b;
  --fieldtrip-white: #eae4cc;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

h1 {
  color: red !important;
  font-size: 24rem !important;
  font-weight: 700 !important;
}
